<div class="hidden lg:block">

  <div class="w-screen flex">

    <a *ngFor="let highlights of highlights" class="w-1/2 flex relative cursor-pointer" routerLink="/">

      <div class="overflow-hidden w-full h-full">

        <img class="h-full" [src]="highlights.cover" alt="">

        <div class="uppercase mb-10 absolute z-40 bottom-0 w-full  text-stone-50 text-center">

          <p class="tracking-letterSpacingXl lg:text-base lg2:text-lg xl:text-xl xl2:text-xl duration-500">{{highlights.category}}</p>

          <p class="motorcycle lg:text-3xl lg2:text-3xl xl:text-4xl xl2:text-5xl duration-1000">{{highlights.motorcycle}}</p>

          <p class="tracking-letterSpacingXl lg2:text-lg xl:text-xl xl2:text-xl font-thin duration-500 hover:text-red-500">saiba mais sobre essa categoria</p>

        </div>

      </div>

      <div class="absolute w-full h-full bg-gradient-to-t from-black duration-150"></div>

    </a>

  </div>

</div>

<div class="lg:hidden">

  <div class="w-scree">

    <a *ngFor="let highlights of highlights" class="flex relative cursor-pointer" routerLink="/">

      <div class="overflow-hidden w-full h-full">

        <img [src]="highlights.cover" alt="">

        <div class="uppercase mb-[3%] absolute z-40 bottom-0 w-full  text-stone-50 text-center">

          <p class="tracking-letterSpacingXl text-sm m-0 sm:text-lg md:text-xl duration-500">{{highlights.category}}</p>

          <p class="motorcycle text-lg m-1 sm:text-4xl md:text-5xl duration-1000">{{highlights.motorcycle}}</p>

          <p class="tracking-letterSpacingXl text-xs m-0 sm:text-base md:text-lg font-thin duration-500 hover:text-red-500">saiba mais sobre essa categoria</p>

        </div>

      </div>

      <div class="absolute w-full h-full bg-gradient-to-t from-black duration-150"></div>

    </a>

  </div>

</div>
