<!--<div class="hidden lg:block">
  <div class="w-screen mx-auto mt-10 pb-24  flex justify-around">

    <a *ngFor="let slides of slides" class="relative md:w-[200px] md:h-[200px] lg:w-[330px] lg:h-[330px] lg2:w-[420px] lg2:h-[420px] xl:w-[500px] xl:h-[500px] text-center cursor-pointer"routerLink="/">

      <img [src]="slides.cover" class="h-full object-cover rounded-xl" alt="">

        <div class="mb-4 absolute text-white bottom-0 z-40">

          <p class="lg:text-xl lg2:text-3xl xl:text-4xl uppercase">{{slides.title}}</p>

          <p class="lg:text-sm lg2:text-lg xl:text-xl px-14">{{slides.resume}}</p>

          <p class="lg:text-sm lg2:text-lg xl:text-xl font-thin uppercase">saiba mais</p>

        </div>

        <div class="absolute top-0 w-full h-full bg-gradient-to-t from-black rounded-xl"></div>

    </a>

  </div>
</div>

<div class="lg:hidden">

  <div class="w-[380px] sm:w-[500px] md:w-[750px] mx-auto">

    <a *ngFor="let slides of slides" class="relative cursor-pointer"routerLink="/">

      <img [src]="slides.cover" class="w-full h-[210px] sm:h-[290px] md:h-[470px] z-0 mb-7 object-cover rounded-xl" alt="">

        <div class="w-[380px] sm:w-[500px] md:w-[750px] mt-[100px] sm:mt-[150px] md:mt-[300px] text-white absolute top-0 z-40 text-center">

          <p class="text-xl sm:text-2xl md:text-4xl uppercase">{{slides.title}}</p>

          <p class="text-xs sm:text-base md:text-xl px-14">{{slides.resume}}</p>

          <p class="text-xs sm:text-base md:text-xl font-thin uppercase">saiba mais</p>

        </div>

        <div class="absolute top-0 w-[380px] sm:w-[500px] md:w-[750px] h-[210px] sm:h-[290px] md:h-[470px]  bg-gradient-to-t from-black rounded-xl"></div>

    </a>

  </div>

</div>-->

<div class="hidden lg:block">

  <div class="w-screen flex">

    <a *ngFor="let additionalServices of additionalServices" class="w-1/2 flex relative cursor-pointer" routerLink="/">

      <div class="overflow-hidden w-full h-full">

        <img class="h-full" [src]="additionalServices.cover" alt="">

        <div class="uppercase mb-2 absolute z-40 bottom-6 w-full  text-stone-50 text-center">

          <p class="service lg:text-2xl lg2:text-3xl xl:text-4xl xl2:text-5xl duration-1000">{{additionalServices.title}}</p>

          <p class="resume tracking-wider lg:text-base lg2:text-lg xl:text-xl xl2:text-xl duration-500 w-[500px] lg2:w-[600px] mx-auto">{{additionalServices.resume}}</p>

          <p class="tracking-letterSpacingXl lg:text-lg lg2:text-lg xl:text-xl xl2:text-xl font-thin duration-500 hover:text-red-500">saiba mais</p>

        </div>

      </div>

      <div class="absolute w-full h-full bg-gradient-to-t from-black duration-150"></div>

    </a>

  </div>

</div>

<div class="lg:hidden">

  <div class="w-scree">

    <a *ngFor="let additionalServices of additionalServices" class="flex relative cursor-pointer" routerLink="/">

      <div class="overflow-hidden w-full h-full ">

        <img [src]="additionalServices.cover" alt="">

        <div class="uppercase mb-[3%] absolute z-40 bottom-0 w-full  text-stone-50 text-center">

          <p class="service text-lg m-1 sm:text-4xl md:text-5xl duration-1000">{{additionalServices.title}}</p>

          <p class="resume tracking-wider text-sm mb-2 sm:text-lg md:text-xl duration-500 w-[350px] sm:w-[400px] md:w-[550px] mx-auto">{{additionalServices.resume}}</p>

          <p class="tracking-letterSpacingXl text-sm m-0 sm:text-base md:text-lg font-thin duration-500">saiba mais</p>

        </div>

      </div>

      <div class="absolute w-full h-full bg-gradient-to-t from-black duration-150"></div>

    </a>

  </div>

</div>
