a:hover img{
  transform: scale(1.15);
  transition-duration: 4000ms;
}

.service{
  font-family: 'Orbitron', 'Times New Roman', Times, serif;
}

.resume{
  font-family: 'Rajdhani', 'Times New Roman', Times, serif;
}
