/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; overflow-x: hidden; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'Orbitron';
  src: url('./assets/fonts/Orbitron/Orbitron-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Rajdhani';
  src: url('./assets/fonts/Rajdhani/Rajdhani-Bold.ttf') format('truetype');
}
