
.nav-bar__hamburguer.active .hamburguer__line--1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.nav-bar__hamburguer.active .hamburguer__line--2 {
 opacity: 0;
}

.nav-bar__hamburguer.active .hamburguer__line--3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 1050px) {

  .flex-item:first-child{
    margin-top: 50px;
  }

  .flex-item{
    margin: 40px 0 10px 40px;
  }

  h2{
    font-size: 2rem;
    width: 320px;
  }

  svg{
    display: block;
  }

  .nav-bar__hamburguer{
    display: block;
  }

  .nav-bar__login{
    position: static;
  }

  .nav-bar__list{
    position: absolute;
    top: 70px;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #fff;
    border: 2px #000;
    flex-direction: column;
    z-index: 505;
    transform: translateX(100%);
  }

}

.nav-bar__list.active {
  transform: translateX(0);
  border-top: 1px solid rgba(0, 0, 0, 0.4);
}

.nav-bar__logo.active {
  color: black;
}

.nav-bar__text.active {
  color: black;
}

.nav-bar.active{
  background-color: #fff;
}

.hamburguer__line--1.active {
  background-color: black;
}

.hamburguer__line--3.active {
  background-color: black;
}

.hamburguer__line--1 {
  background-color: #fff;
}

.hamburguer__line--2 {
  background-color: #fff;
}

.hamburguer__line--3 {
  background-color: #fff;
}

.nav-bar__logo{
  font-family: 'Orbitron', 'Times New Roman', Times, serif;
  font-size: 2rem;
}

.nav-bar__text{
  font-family: 'Rajdhani', 'Times New Roman', Times, serif;
}
