<div class="backdrop-blur-md bg-zinc-900/50 z-50 uppercase">

  <div class="nav-bar text-white justify-between h-[70px] mx-auto flex max-w-screen-lg relative"
    [ngClass]="{ 'active': actived }">

    <div
      class="nav-bar__logo my-auto mx-[40px] text-lg duration-75 tracking-wide cursor-pointer hover:text-red-600 hover:duration-500"
      routerLink="/" (click)="removeMenu()" [ngClass]="{ 'active': actived }">
      CG Motors
    </div>

    <div class="flex nav-bar__list my-auto" [ngClass]="{ 'active': actived }">

      <div
        class="flex-item h-[50px] w-[308px] lg:h-[30px] lg:w-[110px] flex my-[4px] mx-[20px] text-lg duration-75 tracking-wide cursor-pointer hover:text-red-600 hover:duration-500"
        routerLink="/" (click)="removeMenu()">
        <h2 class="nav-bar__text" [ngClass]="{ 'active': actived }">categorias</h2>
        <svg class="hidden  h-6 mt-[3px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
        </svg>
      </div>

      <div
        class="flex-item h-[50px] w-[308px] lg:h-[30px] lg:w-[150px] flex my-[4px] mx-[20px] text-lg duration-75 tracking-wide cursor-pointer hover:text-red-600 hover:duration-500"
        routerLink="/" (click)="removeMenu()">
        <h2 class="nav-bar__text" [ngClass]="{ 'active': actived }">mais vendidos</h2>
        <svg class="hidden  h-6 mt-[3px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
        </svg>
      </div>

      <div
        class="flex-item h-[50px] w-[308px] lg:h-[30px] lg:w-[110px] flex my-[4px] mx-[20px] text-lg duration-75 tracking-wide cursor-pointer hover:text-red-600 hover:duration-500"
        routerLink="/" (click)="removeMenu()">
        <h2 class="nav-bar__text" [ngClass]="{ 'active': actived }">novidades</h2>
        <svg class="hidden  h-6 mt-[3px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
        </svg>
      </div>

      <div
        class="flex-item h-[50px] w-[308px] lg:h-[30px] lg:w-[80px] sm:mr-[30px] flex my-[4px] mx-[20px] text-lg duration-75 tracking-wide cursor-pointer hover:text-red-600 hover:duration-500"
        routerLink="/" (click)="removeMenu()">
        <h2 class="nav-bar__text" [ngClass]="{ 'active': actived }">entrar</h2>
        <svg class="hidden hover:bg h-6 mt-[3px]" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
          <path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z" />
        </svg>
      </div>

    </div>

    <div class="nav-bar__hamburguer mt-3 absolute hidden right-[40px] cursor-pointer" [ngClass]="{ 'active': actived }"
      (click)="toggleMenu()">

      <div class="w-[32px] h-[2px] mt-[8px] duration-300 hamburguer__line--1" [ngClass]="{ 'active': actived }"></div>
      <div class="w-[32px] h-[2px] mt-[8px] duration-300 hamburguer__line--2" [ngClass]="{ 'active': actived }"></div>
      <div class="w-[32px] h-[2px] mt-[8px] duration-300 hamburguer__line--3" [ngClass]="{ 'active': actived }"></div>

    </div>

  </div>

</div>
