<div class="max-w-screen-2xl mx-auto mt-12 pb-2 uppercase">

  <div class="flex">

    <p class="tracking-letterSpacingXl text-2xl sm:text-3xl md:text-4xl lg:text-5xl xl:text-6xl px-10 cursor-pointer"routerLink="/"> Street </p>

    <div class="w-full h-1 mt-[13px]  sm:mt-[14px] md:mt-[17px] lg:mt-[22px] xl:mt-[27px] border-b-2 border-red-600"></div>

  </div>

  <div class="hidden xl2:block h-[450px]">

    <div class="keen-slider" #sliderRefXl2>

      <div *ngFor="let cards of cardsStreet" class="keen-slider__slide cursor-pointer"routerLink="/">

        <div class="w-full h-full">

          <img class="mx-auto mt-10 h-[45%]" [src]="cards.cover" alt="">

          <div class=" text-black text-center">

            <p class="text-xl tracking-letterSpacingXl">{{cards.brand}}</p>

            <p class="text-5xl tracking-wider">{{cards.motorcycle}}</p>

            <div class="w-32 mb-3 mx-auto border-b-2 border-red-600"></div>

            <p class="tracking-wider text-xl font-thin duration-500 hover:text-red-500">saiba mais sobre essa moto</p>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="hidden xl:block xl2:hidden h-[450px]">

    <div class="keen-slider" #sliderRefXl>

      <div *ngFor="let cards of cardsStreet" class="keen-slider__slide cursor-pointer"routerLink="/">

        <div class="w-full h-full">

          <img class="mx-auto mt-10 h-[45%]" [src]="cards.cover" alt="">

          <div class=" text-black text-center">

            <p class="text-xl tracking-letterSpacingXl">{{cards.brand}}</p>

            <p class="text-5xl tracking-wider">{{cards.motorcycle}}</p>

            <div class="w-32 mb-3 mx-auto border-b-2 border-red-600"></div>

            <p class="text-xl tracking-wider font-thin duration-500 hover:text-red-500">saiba mais sobre essa moto</p>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="hidden lg2:block xl:hidden h-[450px]">

    <div class="keen-slider" #sliderRefLg2>

      <div *ngFor="let cards of cardsStreet" class="keen-slider__slide cursor-pointer"routerLink="/">

        <div class="w-full h-full">

          <img class="mx-auto mt-10 h-[45%]" [src]="cards.cover" alt="">

          <div class=" text-black text-center">

            <p class="tracking-letterSpacingXl text-xl">{{cards.brand}}</p>

            <p class="tracking-wider text-5xl">{{cards.motorcycle}}</p>

            <div class="w-32 mb-3 mx-auto border-b-2 border-red-600"></div>

            <p class="tracking-wider text-xl font-thin duration-500 hover:text-red-500">saiba mais sobre essa moto</p>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="hidden lg:block lg2:hidden h-[450px]">

    <div class="keen-slider" #sliderRefLg>

      <div *ngFor="let cards of cardsStreet" class="keen-slider__slide cursor-pointer"routerLink="/">

        <div class="w-full h-full">

          <img class="mx-auto mt-10 h-[45%]" [src]="cards.cover" alt="">

          <div class=" text-black text-center">

            <p class="tracking-letterSpacingXl text-xl">{{cards.brand}}</p>

            <p class="tracking-wider text-4xl">{{cards.motorcycle}}</p>

            <div class="w-32 mb-3 mx-auto border-b-2 border-red-600"></div>

            <p class="tracking-wider text-base font-thin duration-500 hover:text-red-500">saiba mais sobre essa moto</p>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="hidden md:block lg:hidden h-[400px]">

    <div class="keen-slider" #sliderRefMd>

      <div *ngFor="let cards of cardsStreet" class="keen-slider__slide cursor-pointer"routerLink="/">

        <div class="w-full h-full">

          <img class="mx-auto mt-10 h-[45%]" [src]="cards.cover" alt="">

          <div class=" text-black text-center">

            <p class="tracking-letterSpacingXl text-lg">{{cards.brand}}</p>

            <p class="tracking-wider text-3xl">{{cards.motorcycle}}</p>

            <div class="w-32 mb-3 mx-auto border-b-2 border-red-600"></div>

            <p class="tracking-wider text-sm font-thin duration-500 hover:text-red-500">saiba mais sobre essa moto</p>

          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="md:hidden h-[320px] sm:h-[400px]">

    <div class="keen-slider" #sliderRefSm>

      <div *ngFor="let cards of cardsStreet" class="keen-slider__slide cursor-pointer"routerLink="/">

        <div class="w-full h-full">

          <img class="mx-auto mt-10 h-[45%]" [src]="cards.cover" alt="">

          <div class=" text-black text-center">

            <p class="tracking-letterSpacingXl text-md">{{cards.brand}}</p>

            <p class="tracking-wider text-2xl">{{cards.motorcycle}}</p>

            <div class="w-32 mb-3 mx-auto border-b-2 border-red-600"></div>

            <p class="tracking-wider text-xs font-thin duration-500 hover:text-red-500">saiba mais sobre essa moto</p>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>
