li {
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: rgb(197, 197, 197);
  font-family: 'Rajdhani', 'Times New Roman', Times, serif;
  font-size: 1.1rem;
}

a:hover {
  color: #f00;
  transition-duration: 300ms;
}

svg.active {
  transform: rotate(135deg);
  color: #fff;
}

ul.active {
  display: block;
  margin-top: 30px;
  text-align: start;
}

.title{
  font-family: 'Orbitron', 'Times New Roman', Times, serif;
}
