<div class="md:h-[360px] lg:h-[480px] lg2:h-[560px] xl:h-[640px] xl2:h-[660px] hidden md:block">

  <div class="uppercase flex relative">

    <div class="tracking-wider md:text-[120px] lg:text-[150px] lg2:text-[200px] xl:text-[230px] xl2:text-[300px] hidden  md:block md:absolute md:mt-[95px] lg:mt-[129px] lg2:mt-[170px] xl:mt-[188px] xl2:mt-[215px] md:ml-24 lg:ml-24 lg2:ml-20 xl:ml-16 xl2:ml-14 text-slate-300 z-0 duration-500">
      ninja
    </div>

    <img class="md:absolute md:right-0 md:w-[60%] lg:w-[65%] md:mt-6 z-20 duration-500"
      src="./../../../../../assets/images/highlights__section-one__Ninja-ZX-10R.png" alt="">

    <div class="md:mt-[30px] lg:mt-[55px] lg2:mt-[80px] md:ml-32 md:z-10">

      <div class="tracking-letterSpacingXl text-xl  md:text-lg lg:text-xl lg2:text-2xl  xl:text-3xl xl2:text-4xl duration-500">
        sport
      </div>

      <div
        class="text-3xl md:text-4xl lg:text-5xl lg2:text-6xl xl:text-7xl xl2:text-8xl md:max-w-[16rem] lg:max-w-sm lg2:max-w-lg xl:max-w-lg xl2:max-w-2xl leading-tight font-semibold mt-2 mb-2 tracking-wide duration-700">
        ninja zx-10r krt edition
      </div>

      <div class="tracking-letterSpacingXl text-2xl md:text-base lg:text-lg lg2:text-xl xl:text-2xl xl2:text-3xl cursor-pointer hover:text-red-600 duration-300" routerLink="/">
        saiba mais sobre essa moto
      </div>

    </div>

  </div>

</div>

<div class="md:hidden">

  <div class="flex">

    <div class="w-full h-1 mt-[40px] mb-3 mx-auto border-b-2 border-red-600"></div>

    <p class="tracking-letterSpacingXl text-3xl sm:text-4xl uppercase mx-4 mt-4 duration-500">
      sport
    </p>

    <div class="w-full h-1 mt-[40px] mb-3 mx-auto border-b-2 border-red-600"></div>

  </div>

  <div class="w-full h-full uppercase cursor-pointer" routerLink="/">

    <div class="tracking-wider text-[120px] sm:text-[150px] absolute left-[50%] mt-[45px] translate-x-[-50%]  text-slate-300 -z-10 duration-500">
      ninja
    </div>

    <img class="mx-auto mt-1 w-full z-10" src="./../../../../../assets/images/highlights__section-one__Ninja-ZX-10R.png" alt="">

    <div class=" text-black text-center">

      <p class="text-2xl sm:text-3xl duration-700">
        ninja zx-10r krt edition
      </p>

      <p class="tracking-letterSpacingXl text-xs sm:text-base font-thin hover:text-red-600 duration-300">
        saiba mais sobre essa moto
      </p>

    </div>

  </div>

</div>

<div class="md:h-[360px] lg:h-[480px] lg2:h-[560px] xl:h-[640px] xl2:h-[760px] hidden md:block">

  <div class="uppercase flex relative">

    <div
      class="tracking-wider  md:text-[120px] lg:text-[150px] lg2:text-[200px] xl:text-[230px] xl2:text-[230px] hidden md:block md:absolute md:right-0 md:mt-[95px] lg:mt-[129px] lg2:mt-[170px] xl:mt-[188px] xl2:mt-[210px] md:mr-24 lg:mr-24 lg2:mr-20 xl:mr-16 xl2:mr-14 text-slate-300 z-0 duration-500">
      sportster
    </div>

    <img class="md:absolute md:w-[60%] lg:w-[65%] md:mt-6 z-20 duration-500" src="./../../../../../assets/images/highlights__section-one__Sportster.png" alt="">

    <div class="absolute right-0 md:mt-[30px] lg:mt-[55px] lg2:mt-[100px] lg:mr-2 xl:mr-24 md:z-10">

      <div class="tracking-letterSpacingXl text-xl  md:text-lg lg:text-xl lg2:text-2xl  xl:text-3xl xl2:text-4xl duration-500">
        custom
      </div>

      <div
        class="text-3xl md:text-4xl lg:text-5xl lg2:text-6xl xl:text-6xl xl2:text-7xl md:max-w-[22rem] lg:max-w-[28rem] lg2:max-w-xl xl:max-w-xl xl2:max-w-2xl leading-tight font-semibold mt-2 mb-2 tracking-wide duration-700">
        harley-dividson sportster
      </div>

      <div class="tracking-letterSpacingXl text-2xl md:text-base lg:text-lg lg2:text-xl xl:text-2xl xl2:text-3xl hover:text-red-600 duration-300 cursor-pointer" routerLink="/">
        saiba mais sobre essa moto
      </div>

    </div>

  </div>

</div>

<div class="md:hidden">

  <div class="flex">

    <div class="w-full h-1 mt-[40px] mb-3 mx-auto border-b-2 border-red-600"></div>

    <p class="tracking-letterSpacingXl text-3xl sm:text-4xl uppercase mx-4 mt-4 duration-500">
      custom
    </p>

    <div class="w-full h-1 mt-[40px] mb-3 mx-auto border-b-2 border-red-600"></div>

  </div>

  <div class="w-full h-full uppercase cursor-pointer" routerLink="/">

    <div class="tracking-wider text-[60px] sm:text-[95px] absolute left-[50%] mt-[45px] translate-x-[-50%]  text-slate-300 -z-10 duration-500">
      sportster
    </div>

    <img class="mx-auto mt-1 w-full" src="./../../../../../assets/images/highlights__section-one__Sportster.png" alt="">

    <div class=" text-black text-center">

      <p class="text-2xl sm:text-3xl duration-700">
        harley-dividson sportster
      </p>

      <p class="tracking-letterSpacingXl text-xs sm:text-base font-thin hover:text-red-600 duration-300">
        saiba mais sobre essa moto
      </p>

    </div>

  </div>

</div>
